<div class="row">
  <div class="ch-container">
    <div class="row">
      <div class="box col-md-12">
        <div class="box-inner">
          <div class="box-content">
            <div class="alert alert-info">Liste Technologie
              <button class="btn btn-primary btn-sm pull-right" title="Ajouter une Technologie"
                      data-toggle="modal" data-target="#addTechnologie">Ajouter
                une Technologie
              </button>
            </div>

            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive dataTable"
                   datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
              <tr>
                <th>Technologie</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let technologie of Technologies">
                <td> {{ technologie.libele }}</td>
                <td class="center">
                  <button class="btn btn-primary glyphicon glyphicon-edit icon-white"
                          data-toggle="modal"
                          title="Modifier"
                          [attr.data-target]="'#update'+technologie.id"
                  >
                  </button> &nbsp;
                  <button class="btn btn-primary glyphicon glyphicon-trash icon-white"
                          title="Supprimer" data-toggle="modal"
                          [attr.data-target]="'#delete_'+technologie.id">
                  </button>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <app-add-technologie (ajouterTechnologie)="Add($event)"></app-add-technologie>
</div>
<div *ngFor="let technologie of Technologies">
  <app-update-technologie [technologie]="technologie" (updateTechnologie)="Update($event)"></app-update-technologie>
</div>
<div *ngFor="let technologie of Technologies">
  <app-delete-technologie [technologie]="technologie" (deleteTechnologie)="Delete($event)">
  </app-delete-technologie>
</div>

