<!-- Modal -->
<div [id]="'delete_'+technologie.id"
     class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal conten t-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete </h4>
            </div>
            <div class="modal-body">
                <p>Do you want to delete this?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="ondelete()" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
