<div class="modal fade" role="dialog" [id]="'update'+technologie.id">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <form class="form-horizontal" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

                <div class="modal-header">
                    <h5 class="modal-title" >Modifier une Technologie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="libele" class="col-form-label">Libele</label>
                        <input type="text" class="form-control"
                               placeholder="libele"
                               name="libele"
                               id="libele"
                               ngModel
                               [(ngModel)]="libele"
                        >
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" #closeAddExpenseModal (click)="closeModal()" >OK</button>
                </div>
            </form>
        </div>
    </div>
</div>
