<div class="ch-container">
  <div class="row">
    <div class="row">
      <div class="col-md-12 center login-header">
        <h2>Proxym Group</h2>
      </div>
    </div>
    <div class="row">
      <div class="well col-md-5 center login-box">
        <div class="alert alert-info">
          Please login with your Username and Password.
        </div>
        <form class="form-horizontal" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
          <fieldset>
            <div class="input-group input-group-lg">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
              <input type="text" class="form-control"
                     placeholder="Username"
                     name="username"
                     id="username"
                     ngModel
                     [(ngModel)]="username"
                     required>
            </div>
            <div class="clearfix"></div>
            <br>

            <div class="input-group input-group-lg">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
              <input type="password" class="form-control" placeholder="Password"
                     name="password"
                     id="password"
                     ngModel
                     [(ngModel)]="password"
                     required="required">
            </div>
            <div class="clearfix"></div>

            <div class="input-prepend">
              <label class="remember" for="remember"><input type="checkbox" id="remember"> Remember me</label>
            </div>
            <div class="clearfix"></div>

            <p class="center col-md-5">
              <button type="submit" class="btn btn-primary">Login</button>
            </p>
          </fieldset>
        </form>
      </div>
      <!--/span-->
    </div><!--/row-->
  </div>

</div>
