<!-- First app :<input type="text" name="name" [(ngModel)]='nam>
<p> {{ name }} </p */ -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div *ngIf="authService.isLoggednIn()">
        <app-nav-bar></app-nav-bar>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
