<div class="row">
  <div class="container">
    <div class="box col-md-12">
      <div class="box-inner">
        <div class="box-content">
          <div class="well col-lg center login-box">
            <form class="form-horizontal" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
              <h4>Ajout un Offre</h4>
              <table>
                <tr>
                  <td>
                    <div class="form-group">
                      <label></label>&nbsp;&nbsp;&nbsp;&nbsp;
                      <input class="form-control"
                             type="text"
                             id="organisme"
                             placeholder="organisme"
                             name="organisme"
                             ngModel
                             [(ngModel)]="organisme">
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <label></label>&nbsp;&nbsp;&nbsp;&nbsp;
                      <input class="form-control" type="text"
                             type="text"
                             id="description"
                             placeholder="description"
                             name="description"
                             ngModel
                             [(ngModel)]="description">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <label> </label>&nbsp;&nbsp;&nbsp;&nbsp;
                      <input type="number"
                             class="form-control"
                             id="effectif"
                             placeholder="effectif"
                             name="effectif"
                             ngModel
                             [(ngModel)]="effectif">
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <label></label>&nbsp;&nbsp;
                      <input class="form-control"
                             id="etude_besoin"
                             type="text"
                             placeholder="etude_besoin"
                             name="etude_besoin"
                             ngModel
                             [(ngModel)]="etude_besoin">

                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <label></label>&nbsp;&nbsp;&nbsp;&nbsp;
                      <input class="form-control"
                             id="competance_demande"
                             type="text"
                             placeholder="competance_demande"
                             name="competance_demande"
                             ngModel
                             [(ngModel)]="competance_demande"
                      >
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <label></label>&nbsp;&nbsp;&nbsp;&nbsp;
                      <input class="form-control"
                             id="Diplome"
                             type="text"
                             placeholder="diplome"
                             name="diplome"
                             ngModel
                             [(ngModel)]="diplome">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <label></label>&nbsp;&nbsp;
                      <input type="number" class="form-control"
                             id="nb_annee_experience"
                             name="nb_annee_experience"
                             placeholder="nb_annee_experience"
                             ngModel
                             [(ngModel)]="nb_annee_experience"
                      >
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <label></label>&nbsp;&nbsp;&nbsp;
                      <input class="form-control"
                             id="exigence"
                             type="text"
                             placeholder="exigence"
                             name="exigence"
                             ngModel
                             [(ngModel)]="exigence">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-group">
                      <label></label>&nbsp;&nbsp;
                      <input type="text" class="form-control"
                             id="etat"
                             placeholder="etat"
                             name="etat"
                             ngModel
                             [(ngModel)]="etat"
                      >
                    </div>
                  </td>
                  <td>
                    <!--
                                        *ngIf="auth.getUser().username === 'rh'"
                    -->
                    <select class="select-css" name="user" ngModel  [(ngModel)]="user" >
                      <option *ngFor="let user of users" [ngValue]="user" >{{ user.username }}</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    <select class="select-css" multiple name="technologies" ngModel  [(ngModel)]="technologies">
                      <option *ngFor="let t of Technologie"  [ngValue]="t"
                              [attr.data-target]="t.id"
                      >{{t.libele}}</option>
                    </select>
                  </td>
                </tr>
              </table>
              <button type="submit" class="btn ">OK</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
