<div class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <button type="button" class="navbar-toggle pull-left animated flip">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" [routerLink]="'/interface/technologie'">
      <span>Proxym IT</span></a>
    <div class="btn-group pull-right">
        <ul class="collapse navbar-collapse nav navbar-nav top-menu">
            <li class="dropdown">
                <a  data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i> {{auth.getUser().username}} <span
                        class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a (click)="auth.logout()">Déconnexion</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <ul class="collapse navbar-collapse nav navbar-nav top-menu">
      <li class="dropdown open">
        <a [routerLink]="'/interface/offres'" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i>Offres
          <!--<span class="caret"></span>--></a>
      </li>
      <li class="dropdown open">
        <a [routerLink]="'/interface/technologie'" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i>Technologie</a>
      </li>
      <li class="dropdown open">
        <a href="CV" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i>CV</a>
      </li>
      <li class="dropdown open">
        <a href="Feedback" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i>Feedback</a>
      </li>
      <li class="dropdown open">
        <a href="Planning" data-toggle="dropdown"><i class="glyphicon glyphicon-star"></i>Planning
          d'entretien</a>
      </li>
      <li>
        <form class="navbar-search pull-left">
          <input placeholder="Search" class="search-query form-control col-md-10" name="query" type="text">
        </form>
      </li>
    </ul>
  </div>
</div>

