<div class="row">
  <div class="ch-container">
    <div class="row" >
      <div class="box col-md-12">
        <div class="box-inner">
          <div class="box-content">
            <div class="alert alert-info">Liste des Offres &nbsp;&nbsp;
                <select id="selectError" data-rel="chosen">
                  <option>En cours</option>
                  <option>Cloturé</option>

                </select>
              <button class="btn btn-primary btn-sm pull-right" title="Ajouter un Offre" routerLink="/addoffre">Ajouter une offre
              </button></div>
                        <table class="table table-striped table-bordered bootstrap-datatable datatable responsive dataTable"
                               datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                          <thead>
                          <tr>
                            <th>Offre</th>
                            <th>Organisme</th>
                            <th>Competance</th>
                            <th>Action</th>
                          </tr>
                          </thead>
                          <tbody >
                          <tr *ngFor="let offre of Offres">
                            <td>{{ offre.description }}</td>
                            <td>{{ offre.organisme }}</td>
                            <td><span  *ngFor="let t of offre.technologies">{{ t.libele }},</span></td>
                          <td class="center">
                            <button class="btn btn-primary glyphicon glyphicon-share-alt icon-white"
                                    data-toggle="modal"
                                    title="Affecter">
                            </button> &nbsp;
                            <a class="btn btn-primary glyphicon glyphicon-edit icon-white"
                                    data-toggle="modal"
                                    title="Modifier"
                            >
                            </a>&nbsp;
                            <button class="btn btn-primary glyphicon glyphicon-trash icon-white"
                                    title="Supprimer" data-toggle="modal">
                            </button>
                          </tr>
                          </tbody>
                        </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
